.ham-container {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  background-color: black;
  /* padding: 25px; */
}
.ham-container:hover {
  cursor: pointer;
}

.ham-line {
  opacity: 1;
  transition: all 0.3s;
  height: 10px;
  width: 65px;

  background-color: white;
  border-radius: 10px;
}

.ham-line-one {
  position: absolute;
  top: 20%;
}
.ham-line-two,
.ham-line-three {
  position: absolute;
  top: 46%;
}
.ham-line-four {
  position: absolute;
  top: 72%;
}

.rotate-two {
  transform: rotate(-45deg);
}
.rotate-three {
  transform: rotate(45deg);
}
.opacity {
  opacity: 0;
}

body {
  display: flex;
  justify-content: center;
  padding: 10rem;
}
