.basket_contents, .basket_price {
    max-width: 950px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    align-items: center;
    gap: 30px;
}
.sum {
   
    font-weight: bold;
    
    

}

.fa-trash-alt {
    font-size: 2em;
   
}

.remove_item {
    text-align: center;
    border: 1px solid black;
    padding: 5px;

}



.to_checkout {
    text-align: center;
    margin: 30px 0px;
}

@media (min-width:600px){
    .basket_contents {
        flex-direction: row;

    }

}
