:root {
  --color-nelson: #fa801a;
  --page-width: 950px;
  --white: #fff;
  --color-background: #f5efef;
}

.cart_contents {
  width: 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: #b5b5b5c7;
  background-color: var(--color-background);
  margin: 20px auto;
  align-items: center;

  gap: 5px;
}
.sum {
  font-weight: bold;
}


h3 {
  font-size: 0.9em;
  padding: 10px;
}
.basket-info {
  text-align: center;
  font-weight: bold;
  font-family: roboto;
}
.shipping-form,
.payment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  text-align: center;
}

.cart_contents img {
  padding: 10px;
  width: 150px;
  height: 150px;
  margin: auto;
}
.signup-line input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 4px;
  width: 200px;
  margin: auto;
}

.fa-trash-alt {
  font-size: 2em;
  padding: 5px;
}
.remove_item > * {
  padding: 5px;
}

.remove_item {
  text-align: center;
  border: 2px solid black;
  padding: 5x;
}

.to_checkout {
  text-align: center;
  margin: 30px 0px;
}
.credicard_fields,
.vipps_fields {
  display: flex;
  flex-direction: row;
}
#cvc,
#expire {
  width: 50px;
}

.cta:hover {
  background-color: #3d1565;
  box-shadow: 5px 3px 5px #3d1565;
  color: var(--white);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
}

.cvc-container,
.expire-container {
  border-radius: 5px;
  text-align: left;

  width: 210px;
  margin: auto;
}

.review-order {
  flex-direction: column;
}

@media (min-width: 600px) {
  .divs {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 70%;

    background-color: var(--color-background);
    margin: 20px auto;
    text-align: center;
  }
  .shipping-information,
  .payment-information {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    justify-content: center;
  }
}
