:root {
  --color-nelson: #fa801a;
  --page-width: 950px;
  --white: #fff;
  --color-background: #f5efef;
}

/* .cart_contents {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  background-color: #b5b5b5c7;
  background-color: var(--color-background);
  margin: 20px auto;
  align-items: center;
  font-family: "sansita swashed", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  gap: 5px;
} */
.shopping-cart-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  background-color: #b5b5b5c7;
  background-color: var(--color-background);
  margin: 20px auto;
  align-items: center;
  font-family: "sansita swashed", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  gap: 5px;
}
.empty-cart {
  font-size: 1.3em;
  /* height: 150px;
  width: 150px; */
  margin: 20px auto;
}
.checkout-item img {
  width: 50px;
  height: 50px;
}
/* .checkout-item {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: center;
  margin: 20px auto;
} */
.checkout-item {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: center;
  margin: 20px auto;
}

.checkout-sum {
  margin: 30px auto;
  font-weight: bold;
}
.sum {
  font-weight: bold;
}
.remove-item {
  background-color: white;
}
h3 {
  font-size: 0.9em;
  padding: 10px;
}
.basket-info {
  text-align: center;
  font-weight: bold;
  font-family: roboto;
  border-bottom: 1px solid;
}
.shipping-form,
.payment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  text-align: center;
}
.review-price {
  margin-bottom: 15px;
}

.basket-img {
  padding: 10px;
  width: 150px;
  height: 150px;
  margin: auto;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.signup-line input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 4px;
  width: 200px;
  margin: auto;
}

.review-info p {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  padding: 0px;
  margin: 2px auto;
}
.order__info p {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.fa-trash-alt {
  font-size: 2em;
  padding: 5px;
}
.remove_item > * {
  padding: 5px;
}

.remove_item {
  text-align: center;
  border: 2px solid black;
  padding: 5x;
}

.to_checkout {
  text-align: center;
  margin: 30px 0px;
}
.credicard_fields,
.vipps_fields {
  display: flex;
  flex-direction: row;
}
#cvc,
#expire {
  width: 50px;
}
.go__home {
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.go__home > * {
  margin: auto;
  text-align: center;
}

.cta:hover {
  background-color: #1b203de8;
  box-shadow: 5px 3px 5px #1b203de8;
  color: var(--white);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
}

.cvc-container,
.expire-container {
  border-radius: 5px;
  text-align: left;

  width: 210px;
  margin: auto;
}

/*
test
*/

.review-order {
  flex-direction: column;
}

.back-button {
  background-color: #1b203de8;
  color: white;
  border-radius: 10px;
  padding: 5px 30px;
  font-size: 1.2em;
  font-weight: bold;
  border: solid 1px #000;
  box-shadow: 5px 3px 5px #5a69bfe8;
  transition: all 0.2s;
}
.back-button:hover {
  cursor: pointer;
  background-color: #5a69bfe8;
}

.divs {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  /* width: 70%; */

  background-color: var(--color-background);
  margin: 20px;
  text-align: center;
}

@media (min-width: 600px) {
  .divs {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 70%;

    background-color: var(--color-background);
    margin: 20px auto;
    text-align: center;
  }
  .shipping-information,
  .payment-information {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    justify-content: center;
  }
}
