/* Payment Method */

.creditcard_fields {
    display: none;
}

.vipps_fields {
    display: none;
}

#credit:checked ~ .creditcard_fields {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px auto;
}

#vipps:checked ~ .vipps_fields {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px auto;
    
}


.checkout h2 {
    margin: 20px;
    font-size: 1.3em;
}

.checkout {
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 325px;
  

}


.checkout input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
 
}

/* Shipment Method */ 

.pickup_p, .mailbox_p, .post-office_p {
    display: none;

}

#post-office:checked ~ .post-office_p, #mailbox:checked ~ .mailbox_p, #pickup:checked ~ .pickup_p, .review_main div {
    display: block;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    max-width: 325px;
    margin: 20px auto;

}



/* Review order */ 

.review_main {
    text-align: center;
}

.review_img img {
    max-width: 315px;
}

.review_product {
    border: 2px solid black;
    max-width: 315px;
    display: flex;
    margin: 30px auto;
    justify-content: center;
    gap: 50px;
    align-items: center;
}



@media (min-width:600px) {
    .checkout {
        max-width: 950px;
    
    }

    #credit:checked ~ .creditcard_fields {
       max-width: 350px;
 
    }
    
    #vipps:checked ~ .vipps_fields {
        max-width: 350px;
   
        
    }
    .review_product {
        flex-direction: ;
    }

}