main {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  width: 300px;
  height: 300px;
}
.fab:hover {
  cursor: pointer;
}
.social-media-icons {
  display: flex;
  gap: 35px;
  margin: 20px 5px;
  font-size: 2em;
}
.social > * {
  padding: 0px 5px;
  margin: 5px 5px;
}
.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}
.fa-instagram {
  background-color: #fff0 !important;
}
.fa-instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff0 !important;
}

@media (min-width: 900px) {
  iframe {
    height: 500px;
    width: 500px;
  }
}
