:root {
  --color-nelson: #fa801a;
  --page-width: 950px;
  --white: #fff;
  --color-background: #f5efef;
  --border: 1px solid #9b9b9b;
}

.description h2,
.right-info h2,
.right-container h2 {
  background-color: #1b203de8;
  padding: 5px 0px;
  margin: 0px auto;
  text-align: center;
  color: white;
  width: 100%;
}

.checked {
  color: orange;
}

.description,
.right-info {
  border: 1px solid #9b9b9b;
  /* width: 500px; */
  text-align: left;
  background-color: #f5efef;
}

.right-info {
  text-align: center;
}

.popup-basket {
  display: none;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.added-button {
  display: flex;
  cursor: pointer;
  margin: 0px 10px 0px auto;
}
.content {
  position: relative;
  display: none;
  margin: auto;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9b9b9b;
  background-color: #f5efef;
  padding: 5px;
}

.basket-img {
  padding: 15px;
  height: 150px;
  width: 150px;
  border-radius: 5px;
}
.message {
  margin: 30px auto;
  background-color: rgb(0, 255, 0);
  border: 1px solid #9b9b9b;
  padding: 10px 20px;
  color: black;
}

.add-to-basket {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* display: none; */
  z-index: 2;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
  position: fixed;
  top: 30%;
  right: 0;
  left: 0;
  margin: 20px;
  /* width: 400px; */
  background-color: white;
  border: 1px solid #9b9b9b;
  color: green;
  align-items: center;
}

.description p,
.right-info p {
  padding: 10px;
  background-color: #f5efef;
  margin: 0px auto;
  font-weight: normal;
}

main {
  max-width: 1000px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.right-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #9b9b9b;
  background-color: #f5efef;
  margin: 20px auto;
  height: 348px;
}
.used-price,
.used-stock {
  color: #000000;
}

.new,
.old {
  margin: auto;
}
.new {
  border-bottom: 2px solid;
  padding: 8px 0px;
}
.new div,
.old div {
  display: flex;
  margin: auto;
}
.old-button {
  background-color: #2e324c;
  color: white;
  margin: 20px auto;
  width: 200px;
  border: none;
  font-family: roboto, sans-serif, Arial, Helvetica;
  font-size: 1.1em;
}

.new-button {
  background-color: var(--color-nelson);
  margin: 20px auto;
  width: 200px;
  border: none;
  font-family: roboto, sans-serif, Arial, Helvetica;
  font-size: 1.1em;
}

.top-details {
  gap: 20px;
}

.new > *,
.old > * {
  font-family: roboto, sans-serif, Arial, Helvetica;

  margin: 5px auto;
}

.stock {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lime;
  border: 1px solid black;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
h1 {
  margin: 30px auto;
}

.review {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  gap: 10px;
  flex-direction: column;

  margin: 20px auto;
}

.review > * {
  border: var(--border);
  padding: 10px;
  background-color: var(--color-background);
}

.review div > * {
  padding: 5px;
}
.cart-info {
  display: none;
  position: absolute;
  /* right: -200px; */
  margin-top: 10px;
  margin-right: 20px;
  background-color: #9fff14;
  padding: 5px;
  border: 1px solid black;
  transition: all 0.5s ease-in;
  border-radius: 20px;

  box-shadow: 2px 2px 2px #888;
  top: 62px;
  width: 120px;
  margin: auto;
  font-size: 0.7em;
  text-align: center;
  right: 0;
  left: 0;
}
@media (min-width: 600px) {
  .top-details {
    text-align: center;
  }
  .details-img {
    max-width: 469px;
    margin: 20px auto;
    height: 350px;
  }
  .right-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  /* .description h2,
  .right-info h2,
  .right-container h2 {
    font-size: 1.3em;
  } */
  nav {
    z-index: 1;
  }
  .review {
    flex-direction: row;
  }
  .top-details {
    flex-direction: row;
  }
  main {
    margin: 20px auto;
  }
  .review {
    gap: 10px;

    /* max-width: var(--page-width); */
    margin: 20px auto;
  }
  h2 {
    font-size: 1.3em;
  }
  .content {
    display: flex;
  }
  .add-to-basket {
    width: 400px;
    margin: auto;
  }
  .details {
    margin: 20px auto;
  }
}
