:root {
  --color-nelson: #fa801a;
  --page-width: 950px;
  --white: #fff;
  --color-background: #f5efef;
  --border: 1px solid #9b9b9b;
}

.description h2,
.right-info h2,
.right-container h2 {
  background-color: #1b203de8;
  padding: 5px 0px;
  margin: 0px auto;
  text-align: center;
  color: white;
  width: 100%;
}

.checked {
  color: orange;
}

.description,
.right-info {
  border: 1px solid #9b9b9b;
  width: 500px;
  text-align: left;
  background-color: #f5efef;
}

.right-info {
  text-align: center;
}

.popup-basket {
  display: none;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.content {
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9b9b9b;
  background-color: #f5efef;
  padding: 5px;
}

.basket-img {
  padding: 15px;
  height: 150px;
  width: 150px;
  border-radius: 5px;
}
.message {
  margin: 30px auto;
  background-color: rgb(0, 255, 0);
  border: 1px solid #9b9b9b;
  padding: 10px 20px;
  color: black;
}

.add-to-basket {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* display: none; */
  z-index: 2;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
  position: fixed;
  top: 30%;
  right: 40%;
  width: 400px;
  background-color: white;
  border: 1px solid #9b9b9b;
  color: green;
  align-items: center;
}

.description p,
.right-info p {
  padding: 10px;
  background-color: #f5efef;
  margin: 0px auto;
  font-weight: normal;
}

.details-img {
  max-width: 469px;
  margin: 20px auto;
  height: 350px;
}

main {
  width: 1000px;
  margin: 5px auto;
}

.right-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #9b9b9b;
  background-color: #f5efef;
  margin: 20px auto;
  height: 348px;
}
.used-price,
.used-stock {
  color: #000000;
}

.new,
.old {
  margin: auto;
}
.new {
  border-bottom: 2px solid;
  padding: 8px 0px;
}
.new div,
.old div {
  display: flex;
  margin: auto;
}
.old-button {
  background-color: #2e324c;
  color: white;
  margin: 20px auto;
  width: 200px;
  border: none;
  font-family: roboto, sans-serif, Arial, Helvetica;
  font-size: 1.1em;
}

.new-button {
  background-color: var(--color-nelson);
  margin: 20px auto;
  width: 200px;
  border: none;
  font-family: roboto, sans-serif, Arial, Helvetica;
  font-size: 1.1em;
}

.top-details {
  gap: 20px;
}

.new > *,
.old > * {
  font-family: roboto, sans-serif, Arial, Helvetica;

  margin: 5px auto;
}

.stock {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lime;
  border: 1px solid black;
}

.bottom-info {
  display: flex;
  gap: 20px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.breadcrumbs a {
  color: black;
  font-size: 0.9em;
}

.review {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  gap: 10px;

  width: var(--page-width);
  margin: 20px auto;
}

.review > * {
  border: var(--border);
  padding: 10px;
  background-color: var(--color-background);
}

.review div > * {
  padding: 5px;
}
