
body {
background-color: white;
margin: 0;
min-height: 100vh;
}

:root {
--color-nelson: #fa801a;
--page-width: 950px;
--white: #fff;
--color-background: #f5efef;
--border: 1px solid #9b9b9b;
}
.active {
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
}
header {
    width: 100%;

    background-color: #fa801a;

}

.header-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-height: 120px;
    
    gap: 5px;

}

.logo__img {
    max-width: 90px;
    max-height: 90px;
}
.logo {
  margin: 10px auto;
}

.fa-times-circle, .fa-bars {
    font-size: 3em;
    padding: 3px;
    margin: auto 10px auto auto;
    cursor: pointer;
}

.fa-user, .fa-shopping-cart {
    font-size: 1.5em;
    background-color: #fff;
    border: 1px solid black;
    color: black;
    border-radius: 20px;
}

.fa-user {
    padding: 9px 12px;
}
.fa-shopping-cart {
    padding: 9px 8px;
}

.header__icons {
    display: flex;
    gap: 20px;

}
.hamburger, .header__icons{
    margin: auto;
}
nav a:hover {
    text-decoration: underline;
    color: black;
    text-decoration-thickness: 0.2em;
  }

nav {
    position: absolute;
    top: 9%;
    background-color: #fa801a;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;    
}
nav a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: Merriweather Sans, snicker, Verdana, Geneva, Tahoma, sans-serif;
}   
nav a, .search-form {
    margin: 10px auto;
}
.search-container {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    justify-content: center;
}
label {
    margin: 5px auto;
    font-family: Merriweather sans, sans-serif, Arial, Helvetica;
    display: flex;
}
input:focus {
    border: 2px solid white;
}
.search-input-container {
    display: flex;
    flex-direction: row;
}
.search-form {
margin: auto;
text-align: center;
}
#search {
  
width: 150px;
border: 1px solid black;
border-radius: 50px 0px 0px 50px;
margin: auto;
padding: 5px 15px;
box-shadow: 2px 2px 2px grey;
}
.search-button {
display: flex;
align-items: center;
justify-content: center;
font-size: 1.2em;
width: 40px;
border-radius: 0px 20px 20px 0px;
padding: 0px 12px 0px 10px;
background-color: #f9f8f8;
box-shadow: 2px 2px 2px grey;
border: 1px solid black;

border-left: 0px;
transition: 0.4s;
}
.search-button:hover {
cursor: pointer;
background-color: #cecece;
}
.fa-times-circle {
    display: none;
}
/* */


@media (min-width:700px) {
    header {
        gap: 5em;
    }
    .logo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }
 

    .logo__img {
        max-width: 100%;
    }
    nav {
        top: 14%;
    }
    .fa-shopping-cart, .fa-user {
        font-size: 2em;
    }

}

@media (min-width:1000px) {
    nav {
        display: flex !important;
        position: relative;
        flex-direction: row;

    }

    .hamburger {
        display: none;
    }
    .header__icons {
        margin: auto 20px;
    }
}