.product__images {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}

.product_page {
    display: flex;
    flex-direction: column;
}

.product__images_small {
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}

.product_page h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.product__images_small > * {
    max-width: 50%;
}

.product_description {
    margin: 0px 20px;
}

.product__order {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
    justify-content: space-around;
}

.cta_area p {
    padding: 0px;
    margin-top: 0px;
    font-size: 1.1em;
    font-weight: bold;

}

.cta_area {
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    background-color: var(--color-nelson);
}

.in-stock::before {
    content: "O";
    color: #10fd61;
    background-color: #10fd61;
    margin-right: 10px;
    padding: 0px 5px;
    border: 1px solid black;
}

.not-in-stock::before {
    content: "O";
    color: red;
    background-color: rgb(255, 0, 0);
    margin-right: 10px;
    padding: 0px 5px;
    border: 1px solid black;
}

/* .cta_area > *{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.product__order > * {
    margin: 0px auto;
}    */

@media (min-width:600px){
    .product__images img {
        max-width: 600px;
        max-height: 600px;
    }
    .products__images_big {
        margin: 0px auto;
    }
    .product_page h1 {
        font-size: 2rem;
    }


}

@media (min-width:900px){
    .product__images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin: 30px auto;
        height: 415px;
    }
    .products__images_big img {
        height: 415px;
    }
    .product__images_small {
        flex-direction: column;
        gap: 15px;

    }
    .product__images_small img {
        height: 200px;
    }
    .product_page {
        margin: 0px auto;
        text-align: left;
        justify-content: center;
    }
    .product_description {
        margin: 10px auto;
    }

    .product__order {
        flex-direction: row;
        max-width: 900px;
        gap: 100px;
        margin: 40px auto;
    }
}