/* Review order */ 

.review_main {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    gap: 30px;
    padding: 10px;
    margin: 0px auto;
}
.place_order {
    margin: 40px auto;
}

.review_img {
    text-align: center;
    margin: 10px auto;
}
.review_product, .review_methods {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
}

/*  order received */ 

.confirmation__main {
    text-align: center;
}

.order__info {
    border: 2px solid black;
    background-color: white;
    margin: 30px auto;
    max-width: 950px;

}

.order__info > * {
    padding: 10px 10px;
    text-align: left;
    margin: 10px auto;
    
} 

.confirmation__main h2 {
    margin: 40px auto;
}

@media {
    .review_img {
        max-width: 600px;
    }
}

@media (min-width:900px){


    .order__info > *{
        text-align: center;
    }

}