

.store h1 {
    margin-bottom: 10px;
}





 .page__nav {
    display: flex;
    flex-direction: row;
    max-width: 950px;
    margin: 0px auto;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}



.fa-chevron-circle-left, .fa-chevron-circle-right {
    display: none;
}

.page__nav_number {
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
   
} 

.page__nav_number p {
    font-size: 1.5em;
    margin:0px auto;
    padding: 0px 10px;
    border-radius: 50%;
}

.inactive__page {
    background-color:#2F3C8A ;
    color: var(--white);
}


.active__page {
    background-color: var(--white);
    color: #2F3C8A;
    text-decoration: underline;
}

@media (min-width:600px) {
    .fa-chevron-circle-left, .fa-chevron-circle-right {
        font-size: 2em;
        color: #2F3C8A;
        display: inline-block;
 
       
    }
    .left {
        text-align: right;
        margin-right: 0px;
    }
    .right {
        text-align: left;
        margin-left: 0px;
    }


    

}