 #rpg, #fps, #base, #platformer {
    border: 1px solid black;
} 

.filter__games label {
    text-align: center;
    padding: 2px 5px;
    max-width: 50px;
    border-radius: 10px;

}
.filter__games label:hover {
    cursor: pointer;
}


 .filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 30px;
    margin: 20px auto;
    max-width: 800px;
  
} 
.filters div {
    display: none;
}


#fps:checked ~ .filters div {
    display: flex;
}

.store h1 {
    margin-bottom: 10px;
}




.filters label {
    background-color:var(--color-nelson);
    margin: 5px;
    border: 1px solid black;
}



