:root {
  --color-nelson: #fa801a;
  --page-width: 950px;
  --white: #fff;
  --color-background: #f5efef;
  --border: 1px solid #9b9b9b;
}
.search-form {
  max-width: 180px;
  margin: 30px auto 0px auto;
}

.search-dropdown {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px 10px 10px;
  margin: 2px auto 10px auto;
  height: 100px;
  overflow: hidden;
}
.search-dropdown > * {
  padding: 5px;
  border: 1px solid black;
  width: 175px;
  margin: auto;
  height: 30px;
  display: flex;
}
.search-dropdown-name {
  width: 100px;
  overflow: hidden;
}
.search-dropdown > *:hover {
  background-color: black;
  color: white;
}
.search-dropdown-image {
  display: none;
}

@media (min-width: 600px) {
  .fa-chevron-circle-left,
  .fa-chevron-circle-right {
    font-size: 2em;
    color: #2f3c8a;
    display: inline-block;
  }
  .left {
    text-align: right;
    margin-right: 0px;
    display: inline-block;
  }
  .right {
    text-align: left;
    margin-left: 0px;
    display: inline-block;
  }
  .genres-container {
    background-color: #f5efef;
    flex: 1;
    margin: 20px auto;
    border: 1px solid #9b9b9b;
    display: flex;
    flex-direction: column;
  }
  .genres-container > * {
    margin: 10px;
  }

  .store {
    width: 1100px;
    margin: 0px auto;
    display: flex;
    gap: 10px;
  }
  .store-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 20px auto;
    grid-template-rows: auto;
    background-color: #f5efef;
    border: 1px solid #9b9b9b;
    flex: 5;
  }
}
