:root {
  --color-nelson: #fa801a;
  --page-width: 950px;
  --white: #fff;
  --color-background: #f5efef;
  --border: 1px solid #9b9b9b;
}

@media (min-width: 600px) {
  .fa-chevron-circle-left,
  .fa-chevron-circle-right {
    font-size: 2em;
    color: #2f3c8a;
    display: inline-block;
  }
  .left {
    text-align: right;
    margin-right: 0px;
    display: inline-block;
  }
  .right {
    text-align: left;
    margin-left: 0px;
    display: inline-block;
  }
  .genres-container {
    background-color: #f5efef;
    flex: 1;
    margin: 20px auto;
    border: 1px solid #9b9b9b;
  }

  .store {
    width: var(--page-width);
    margin: 0px auto;
    display: flex;
    gap: 10px;
  }
  .store-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 20px auto;
    grid-template-rows: auto;
    background-color: #f5efef;
    border: 1px solid #9b9b9b;
    flex: 5;
  }
}
