:root {
  --color-nelson: #fa801a;
  --page-width: 950px;
  --white: #fff;
  --color-background: #f5efef;
  --border: 1px solid #9b9b9b;
}

.opacity-container {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.25s ease, visibility 0.25s linear;
}
.is-visible {
  visibility: inherit;
  opacity: 1;
  transition: opacity 1s ease 0.1s, visibility 1s linear 0.1s;
}

.search-form {
  max-width: 180px;
  margin: 30px auto 0px auto;
  position: relative;
  z-index: 3;
}

.search-dropdown {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0px 10px 10px 10px; */
  margin: 2px auto 10px auto;
  /* height: 135px; */
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  gap: 1px;
  width: 220px;
}
.store {
  display: flex;
  flex-direction: column;
  /* max-width: 1200px; */
  margin: 20px;
  grid-template-rows: auto;
  background-color: #f5efef;
  border: 1px solid #9b9b9b;
}

.store-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}
.search-dropdown > * {
  padding: 5px;
  border: 1px solid black;
  width: 175px;
  margin: 1px auto auto auto;
  height: 45px;
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: aliceblue;
}
.search-header {
  font-size: 1.5rem;
  margin: 20px 10px;
  display: none;
}

.active-nav {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: #2f3c8a;
}
.search-dropdown-name {
  width: 100px;
  font-size: 0.8em;
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "source sans pro", roboto, Verdana, Geneva, Tahoma, sans-serif;
}
.search-dropdown-price {
  width: 45px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  margin: auto;
}
.search-dropdown > *:hover {
  background-color: black;
  color: white;
}
.search-dropdown-image {
  display: none;
}

.genres-container {
  display: flex;
  margin: 20px auto;
  flex-direction: column;
}
#selector-container {
  margin: auto;
  width: 150px;
}
.radio-selector {
  display: none;
}
.selector-div {
  margin: auto;
}
/* /* .game-card {
  max-width: 350px;
  margin: 30px auto;
} */

/* .game-card {
  height: 250px;
  max-width: 300px;
  margin: 30px auto;
} */
/* STORE NAV*/
.store-index,
.store-index_lower {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.store-index > *,
.store-index_lower > * {
  padding: 5px;

  /* border: 1px solid black; */
  text-align: center;
  margin: auto;
}
.store-index > *:hover,
.store-index_lower > *:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: black;
}
.store-navigation,
.store-navigation_lower {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.store-navigation button,
.store-navigation_lower button {
  background: none;
  border: none;
}
.store-navigation_container,
.store-navigation_container_lower {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 10px;
}
.store-navigation_container > *,
.store-navigation_container_lower > * {
  font-size: 1.3em;
  margin: 5px;
}
.fa-arrow-left,
.fa-arrow-right {
  padding: 7px;
  background-color: #1b203de8;
  color: white;
  /* border: 1px solid black; */
  border-radius: 50%;
  cursor: pointer;
}

.store-index,
.store-index_lower {
  font-family: "sansita swashed", "Courier New", Courier, monospace;
}

@media (min-width: 600px) {
  .radio-genre {
    margin: auto;
  }

  .radio-selector {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .radio-selector > * {
    margin: 10px auto;
    display: flex;
    text-align: left;
    align-items: center;
    width: 80%;
  }
  .selector-div {
    display: none;
  }
  .search-dropdown {
    width: 500px;
    /* height: 210px; */
  }
  .genres-container {
    margin: 0px 20px;
  }
  .search-dropdown-price {
    margin: auto;
    padding: 5px;
  }
  .search-dropdown > * {
    width: 480px;
    height: 60px;
  }
  .search-dropdown-image {
    display: block;
    height: 50px;
    width: 50px;
    margin: auto;
  }
  .search-dropdown-name {
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
  }
  .fa-chevron-circle-left,
  .fa-chevron-circle-right {
    font-size: 2em;
    color: #2f3c8a;
    display: inline-block;
  }
  .left {
    text-align: right;
    margin-right: 0px;
    display: inline-block;
  }
  .right {
    text-align: left;
    margin-left: 0px;
    display: inline-block;
  }
  .genres-container {
    background-color: #f5efef;
    flex: 1;
    margin: 20px;
    border: 1px solid #9b9b9b;
    display: flex;
    flex-direction: column;
    float: left;
  }
  .genres-container > * {
    margin: 10px;
  }

  .store {
    /* width: 1100px; */
    margin: 20px;
    display: flex;
    gap: 10px;
  }
}
@media (min-width: 900px) {
  /* aside {
    float: left;
  } */
  .store-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  main {
    max-width: 1250px;
    margin: auto;
  }
}
