.logo {
    max-width: 120px;
    max-height: 120px;
    background-color: rgb(255, 136, 0);

    float: left;
}

body {
    background-color: #E2E2E2;
}


.dropdown:hover .dropbtn {
    background-color: rgb(255, 136, 0);
    border-radius: 100%;
    color: black;
}


.padding {
    padding: 20px;
}

nav li, nav button {
   display: inline-block;
   padding-top: 20px;
   margin-left: 50px;

}


header {
    background-color: rgb(0, 0, 0);
    color: black;
    min-height: 100px;
}

footer {
    text-align: center;
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: nelson, fantasy;
    font-size: 2.5em;
    margin-left: 50px;
}

nav li a:hover {
    background-color: rgb(255, 136, 0);
    /* background-size: 10px 10px; */
    border-radius: 100%;
    text-decoration: underline;
    color: black;
    text-decoration-thickness: 6px;
}

.active {
    background-color: rgb(255, 136, 0);
    border-radius: 100%;
    padding: 10px;

}

.dropbtn {
    text-decoration: none;
    color: rgb(255, 136, 0);
    font-family: nelson, fantasy;
    font-size: 2.5em;
    background-color: black;
    border: none;
    cursor: pointer;


}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.page:hover {
    text-decoration: underline;
    text-decoration-thickness: 6px;

}

.page {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(255, 136, 0);
    border-radius: 5px;
    width: 270px;
    align-content: center;
    
}

.dropbtn:hover {
   border-radius: 100%;
   color: black;
   background-color: rgb(255, 136, 0);

}

.dropdown-content a {
    padding: 10px;
    text-align: center;

}

.inactive {
    color: rgb(255, 136, 0);
}

/* signup */

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"]   {
    width: 50%;
    padding: 10x 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: solid 1px #000;
}



form label {
    display: list-item;
    border-radius: 10px;
}

.cta {
    font-family: roboto, verdana;
    background-color: #9BDD6F;
    border: solid 1px #000;
    box-shadow: 2px 2px #9bdd6f38 ;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    
}

.cta:hover {
    background-color: #000;
    color: #9BDD6F;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}


