:root {
  --color-nelson: #fa801a;
  --page-width: 950px;
  --white: #fff;
  --color-background: #f5efef;
  --border: 1px solid #9b9b9b;
}

.index {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 20px auto;
  grid-template-rows: auto;
}

.game-card img {
  width: 100%;
  flex: 1;
}

br {
  height: 10px;
  color: black;
  background-color: black;
  width: 100%;
  margin: auto;
}

.game-card {
  border: var(--border);
  color: black;
  margin: 10px;
  /* padding: 5px; */
  background-color: aliceblue;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
}

.game-info {
  /* padding: 0px 5px; */
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-name {
  margin: 0px;
}
.game-button {
  background-color: var(--color-nelson);
  margin: 5px auto;
  padding: 7px;
  border: none;
}

.game-card:hover {
  opacity: 1;
}
.game-button:hover {
  cursor: pointer;
}
.game-info > * {
  padding: 5px;
  margin: 0px auto;
}

.message {
  padding: 6px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.x-button {
  border: 1px solid black;
  color: black;
  padding: 5px;
}

body {
  background-color: white;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

img {
  width: 100%;
}

.section-header {
  font-size: 1.2em;
  /* border-bottom: 3px solid rgb(255, 255, 255); */
  color: white;
}

/* Header & Nav */

#hamburger-menu {
  grid-area: bars;
}
.header-top {
  grid-area: header-top;
}
.navigation {
  grid-area: header-bottom;
}

.logo_left {
  display: none;
}

header {
  display: grid;
  grid-template-areas:
    "header-top header-top bars"
    "header-bottom header-bottom header-bottom";
  background-color: var(--color-nelson);
  text-align: center;
}

.header-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.header-right {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.navigation {
  margin: 5px auto;
  padding: 10px 20px;
  font-size: 1.3em;
}

.fa-shopping-basket,
.fa-user,
.fa-shopping-cart {
  background-color: var(--white);
  border-radius: 30%;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 1.7em;
  color: black;
}

.account_basket {
  padding: 10px;
}

.account_img {
  width: 50px;
  height: 53px;
  margin-top: 3px;
}

nav {
  display: none;
  background-color: var(--color-nelson);
  border-radius: 50px;
  padding: 0px;
  margin: 0px;
  border: 2px solid black;
}

nav a:hover {
  text-decoration: underline;
  color: black;
  text-decoration-thickness: 0.2em;
}

.nav-list {
  padding: 0px 10px;
  margin: 10px auto;
  display: flex;
}

.fa-bars {
  font-size: 3em;
}

.search-bar {
  display: inline-block;
  padding: 10px 10px 5px 10px;
  border-radius: 10px 0px 0px 10px;
  margin: 5px;
  border: 1px solid black;
}

header button:hover {
  cursor: pointer;
}

.fa-search {
  font-size: 1.5em;
  background-color: var(--white);
}

header button {
  border: 1px solid black;
  border-radius: 0px 5px 5px 0px;
  margin: 0px 0px 0px -11px;
  padding: 5px;
  background-color: var(--white);
}

.logo {
  max-height: 50px;
  margin-top: 10px;
  width: 70.833px;
}
.background {
  background-color: rgb(0, 0, 0);
  border: 3px solid black;
}

.nav-list a {
  display: inline-block;
  padding: 5px 17px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: Merriweather Sans, snicker, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

:focus {
  outline: 1px solid black;
}

.recently-released,
.featured-games {
  width: 300px;
  height: 200px;
}

.released-game {
  height: 200px;
}

.game-name,
.price {
  margin: 0px auto;
  padding: 0px;
}

.active {
  text-decoration: underline;
  color: black;
}

#hamburger-menu {
  display: none;
}

header label {
  margin-top: 8px;
}

.hamburger-label {
  padding: 20px;
  margin-top: 8px;
}

#hamburger-menu:checked ~ nav {
  display: inline-block;
}
.wrapper {
  display: flex;
  flex-direction: row;
  background-color: #f5efef;
  border: 1px solid #707070;

  margin-bottom: 10px;
}

.price {
  color: white;
  background-color: var(--color-nelson);
  padding: 5px 10px;
  /* margin: 5px; */
  font-weight: bolder;
  font-size: 1em;
}

.game-index {
  display: none;
}

/* Main content */

h1 {
  font-family: play, roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin: 10px 0px 0px 0px;
  text-align: center;
}

h2 {
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  margin: 15px auto 10px;
  text-align: center;
}

h3 {
  font-size: 0.8em;
  margin: 0px auto;
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

/* featured games */

.recently-released,
.featured-games {
  width: 300px;
  height: 300px;
  margin: auto;
}

.item {
  height: 15px;
  width: 30px;
  border: none;
  background-color: #bcbcbb;
}

.active-item {
  background-color: #1b203d;
  border: none;
}

@keyframes show {
  0% {
    opacity: 0.75;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.75;
  }
}

.featured-games {
  display: grid;
  grid-template-rows: auto;
  gap: 30px 0px;
  margin: 0px auto;
  max-width: 300px;
}

.featured__product,
.preorder__product {
  display: flex;
  flex-direction: column;
}

.featured__product h2 {
  grid-column: 1;
}

.product__info {
  border: 2px solid black;
  background-color: #f5efef;
  border-radius: 0px 0px 5px 5px;
}

.featured__product > * .preorder__product > * {
  margin: 0px;
}

.featured__product p,
.preorder__product p {
  font-size: 1.5em;
}

.product__info {
  padding-bottom: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.product__info > * {
  margin: 10px;
  padding: 0px;
}

.featured-games h1,
.preorder h1 {
  grid-column: -1/1;
}

.view {
  text-decoration: none;
  background-color: var(--color-nelson);
  color: rgb(0, 0, 0);
  padding: 4px;
  border: 1px solid black;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

/* Preorder section */

.preorder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px 15px;
  margin: 50px auto;
  max-width: 300px;
}

.game-index {
  margin: auto;
  padding: 0px;
}

.cta {
  text-decoration: none;
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
  background-color: #10fd61;
  border: solid 1px #000;
  box-shadow: 5px 3px 5px;
  color: black;
  border-radius: 10px;
  padding: 5px 50px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 30px auto;
}

/* Footer */

footer {
  background-color: var(--color-nelson);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 60px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  display: inline-block;
}

footer div {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.copyright {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}

/* Contact page */

.contact_page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 20px 10px;
  align-items: center;
}

.fa-facebook,
.fa-twitter-square,
.fa-instagram-square {
  font-size: 2em;
  margin: 0px 10px;
}

.contact_page img {
  max-width: 400px;
  margin: 0px auto;
}

/* signup page */

.yes {
  width: 200px;
  height: 200px;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  text-align: center;
}

.login-form {
  border-top: 1px solid black;
}

.sign-in {
  background-color: var(--color-background);
  padding: 20px;
  margin: 30px auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  max-width: var(--page-width);
}

.signup-line {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 5px;
  justify-content: center;
}

.sign-in label {
  margin: 5px auto;
}

.sign-in input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 4px;
  width: 200px;
  margin: auto;
}

.signup-line label {
  text-align: right;
  width: 150px;
}

.signup input {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 4px;
}

.validation-field {
  width: 50px;
  margin-left: 5px;
}

.signup > * {
  padding: 16px 0px 16px 0px;
  justify-content: center;
}
.info-container {
  color: red;
  font-size: 0.8em;
  height: 15px;
  padding: 8px;
  margin: 0px auto 0px auto;
}

.info {
  margin: auto;
  display: none;
  color: red;
  padding-top: 0px;
}
.form {
  width: var(--page-width);
  margin: 20px auto;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.signup_btn {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Media queries  */

@media (min-width: 600px) {
  .logo {
    max-height: 60px;
  }
  .articles h3 {
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .articles h2 {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .contact_page {
    display: flex;
    max-width: 700px;
    margin: 50px auto;
    align-items: center;
    gap: 30px;
  }

  .fa-facebook,
  .fa-twitter-square,
  .fa-instagram-square {
    font-size: 3em;
  }
  .streamer,
  .gh-article {
    max-width: 600px;
  }
  .preorder {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px 15px;
    margin: 50px auto;
    max-width: var(--page-width);
  }
  .released-game img {
    width: 100%;
    margin: auto;
  }
}

.top-paragraph {
  margin: 5px auto 10px auto;
  text-align: center;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

@media (min-width: 750px) {
  .featured-games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
    max-width: var(--page-width);
  }
}

@media (min-width: 900px) {
  .breadcrumbs {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }
  .item {
    width: 90px;
  }
  .game-index {
    width: var(--page-width);
    border: 1px solid grey;
    margin: 10px auto;
    /* display: flex; */
    justify-content: space-evenly;
    padding: 10px 0px;
  }
  .details {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    margin: 20px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .top-details {
    display: flex;
  }
  .top-details > * {
    flex: 1;
  }

  .details button:hover {
    cursor: pointer;
  }

  .recently-released img,
  .featured-games img {
    height: 400px;
  }
  .released-game {
    animation-delay: 0;
    animation: show 5s;
    position: relative;
    text-align: center;
    color: white;
  }

  .wrapper {
    position: absolute;
    bottom: 8px;
    right: 16px;
    display: flex;
    gap: 15px;
    background-color: #f5efef;
    border: var(--border);

    margin-bottom: 10px;
  }

  .wrapper > * {
    margin: 5px 10px;
  }

  .price {
    color: white;
    background-color: var(--color-nelson);
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 30px;
    font-weight: bolder;
    font-size: 1.3em;
  }

  .game-name {
    color: black;
    padding: 5px;
    font-size: 1.4em;
  }

  .game-button {
    padding: 10px 25px;
  }

  .game-card {
    color: black;
    margin: 10px;
    background-color: var(--color-background);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 400px;
  }

  .game-card > * {
    height: 50%;
  }
  .logo {
    display: none;
  }
  .signup {
    max-width: var(--page-width);
  }
  .sign-in {
    text-align: center;
  }
  .search-bar {
    padding-top: 9px;
  }
  .header-top {
    margin-right: 10px;
  }
  .active {
    text-decoration-thickness: 0.2em;
  }

  .logo_left {
    display: inline;
    grid-template-areas: header-left;
    max-height: 110px;
    margin: 0px 0px 0px 10px;
    max-width: 110px;
  }

  .fa-shopping-basket,
  .fa-user {
    font-size: 2.1em;
  }
  .header-right {
    gap: 20px;
  }

  header label {
    display: none;
  }

  nav {
    display: inline-block;
  }

  header {
    grid-template-areas: "Header-left header-bottom header-top";
    gap: 180px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px auto;
  }

  .navigation {
    margin: 5px 0px;
    padding: 10px 0px;
    font-size: 1.3em;
    border: none;
  }

  .cta:hover {
    background-color: #1b203de8;
    box-shadow: 5px 3px 5px #1b203de8;
    color: var(--white);
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
  }
  .recently-released,
  .featured-games {
    height: 400px;
    margin: 10px auto 0px auto;
    width: var(--page-width);
  }

  .game-card-header {
    font-size: 1.4em;
    background-color: #1b203de8;
    padding: 5px 0px;
    width: 100%;
    color: white;
  }
}

/* small loader */
.loader {
  border: 10px solid #140000;
  border-top: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
