:root {
  --color-nelson: #fa801a;
  --page-width: 950px;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: auto;

  grid-template-rows: auto;
}

.game-card img {
  width: 100%;
  height: 20em;
}

.game-card {
  color: black;
  margin: 10px;
  /* padding: 5px; */
  background-color: aliceblue;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.8;
  transition: 0.5s;
}

.game-card > * {
  padding: 5px;
  margin: 5px;
}

.game-img {
  background-size: cover;
  height: 200px;
}

.game-button {
  background-color: var(--color-nelson);
  margin: 5px auto;
  padding: 7px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  box-shadow: 2px 2px;
}

.game-card:hover {
  opacity: 1;
}
.game-button:hover {
  cursor: pointer;
}

.popup-basket {
  display: none;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.content {
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  background-color: blanchedalmond;
  padding: 5px;
}

.basket-img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
}

.add-to-basket {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* display: none; */
  z-index: 2;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  position: fixed;
  top: 30%;
  right: 30%;
  width: 400px;
  background-color: white;
  border: 2px solid green;
  color: green;
  align-items: center;
}

.message {
  padding: 6px;
}
.x-button {
  border: 1px solid black;
  color: black;
  padding: 5px;
}

.details > * {
  margin: auto;
  max-width: 1200px;
}

.details button:hover {
  cursor: pointer;
}

.details button {
  background-color: var(--color-nelson);
  margin: 5px auto;
  padding: 7px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  box-shadow: 2px 2px;
}

.details-img {
  max-width: 1200px;
  margin: 20px auto;
  height: 500px;
}

body {
  background-color: #e2e2e2;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  padding: 5px;
}

img {
  width: 100%;
}

/* Header & Nav */

#hamburger-menu {
  grid-area: bars;
}
.header-top {
  grid-area: header-top;
}
.navigation {
  grid-area: header-bottom;
}

.logo_left {
  display: none;
}

header {
  display: grid;
  grid-template-areas:
    "header-top header-top bars"
    "header-bottom header-bottom header-bottom";
  background-color: var(--color-nelson);
  border-radius: 30px;
  text-align: center;
}

.header-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.header-right {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.navigation {
  margin: 5px auto;
  padding: 10px 20px;
  font-size: 1.3em;
}

.fa-shopping-basket,
.fa-user {
  background-color: var(--white);
  border-radius: 30%;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 1.7em;
  color: black;
}

.account_basket {
  padding: 10px;
}

.account_img {
  width: 50px;
  height: 53px;
  margin-top: 3px;
}

nav {
  display: none;
  background-color: var(--color-nelson);
  border-radius: 50px;
  padding: 0px;
  margin: 0px;
  border: 2px solid black;
}

nav a:hover {
  text-decoration: underline;
  color: black;
  text-decoration-thickness: 0.2em;
}

nav ul {
  padding: 0px 10px;
  margin: 10px auto;
}

.fa-bars {
  font-size: 3em;
}

.search-bar {
  display: inline-block;
  padding: 10px 10px 5px 10px;
  border-radius: 10px 0px 0px 10px;
  margin: 5px;
  border: 1px solid black;
}

header button:hover {
  cursor: pointer;
}

.fa-search {
  font-size: 1.5em;
  background-color: var(--white);
}

header button {
  border: 1px solid black;
  border-radius: 0px 5px 5px 0px;
  margin: 0px 0px 0px -11px;
  padding: 5px;
  background-color: var(--white);
}

.logo {
  max-height: 50px;
  margin-top: 10px;
  width: 70.833px;
}

nav li {
  display: inline-block;
  padding: 5px 17px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: snicker, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.active {
  text-decoration: underline;
  color: black;
}

#hamburger-menu {
  display: none;
}

header label {
  margin-top: 8px;
}

.hamburger-label {
  padding: 20px;
  margin-top: 8px;
}

#hamburger-menu:checked ~ nav {
  display: inline-block;
}

/* Main content */

h1 {
  font-family: nelson, roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin: 10px 0px 0px 0px;
  text-align: center;
}

h2 {
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  margin: 30px auto 20px;
}

h3 {
  font-size: 0.7em;
  margin: 5px;
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

/* featured games */

.featured-games {
  display: grid;
  grid-template-rows: auto;
  gap: 30px 0px;
  margin: 0px auto;
  max-width: 300px;
}

.featured__product,
.preorder__product {
  display: flex;
  flex-direction: column;
}

.featured__product h2 {
  grid-column: 1;
}

.product__info {
  border: 2px solid black;
  background-color: #f5efef;
  border-radius: 0px 0px 5px 5px;
}

.featured__product > * .preorder__product > * {
  margin: 0px;
}

.featured__product p,
.preorder__product p {
  font-size: 1.5em;
}

.product__info {
  padding-bottom: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.product__info > * {
  margin: 10px;
  padding: 0px;
}

.featured-games h1,
.preorder h1 {
  grid-column: -1/1;
}

.view {
  text-decoration: none;
  background-color: var(--color-nelson);
  color: rgb(0, 0, 0);
  padding: 4px;
  border: 1px solid black;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.articles {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
  background-color: var(--white);
}

.articles img {
  float: left;
  margin: 15px 10px;
  width: 250px;
}

.articles h2 {
  margin: 12px auto;
}

.articles > * {
  max-width: 300px;
  margin: 20px auto;
}

.articles h1 {
  margin-bottom: 0px;
}

/* Preorder section */

.preorder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px 15px;
  margin: 50px auto;
  max-width: 300px;
}

.preorder__product {
  margin: 0px auto;
}

.cta {
  text-decoration: none;
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
  background-color: #10fd61;
  border: solid 1px #000;
  box-shadow: 5px 3px 5px;
  color: black;
  border-radius: 10px;
  padding: 5px 50px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 30px auto;
}

/* Footer */

footer {
  background-color: var(--color-nelson);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 60px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  display: inline-block;
}

footer div {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.copyright {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}

/* Contact page */

.contact_page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 20px 10px;
  align-items: center;
}

.fa-facebook,
.fa-twitter-square,
.fa-instagram-square {
  font-size: 2em;
  margin: 0px 10px;
}

.contact_page img {
  max-width: 400px;
  margin: 0px auto;
}

/* signup page */

.signup {
  background-color: #b5b5b5;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.signup-line {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 5px;
  justify-content: center;
}

.signup-line label {
  text-align: right;
  width: 150px;
}

.signup input {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 4px;
}

.validation-field {
  width: 50px;
  margin-left: 5px;
}

.signup > * {
  padding: 16px 0px 16px 0px;
  justify-content: center;
}
.info-container {
  color: red;
  font-size: 0.8em;
  height: 15px;
  padding: 8px;
  margin: 0px auto 0px auto;
}

.info {
  display: none;
  color: red;
  padding-top: 0px;
}
.form {
  width: var(--page-width);
  margin: 20px auto;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.signup_btn {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Media queries  */

@media (min-width: 600px) {
  .logo {
    max-height: 60px;
  }
  .articles h3 {
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .articles h2 {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .contact_page {
    display: flex;
    max-width: 700px;
    margin: 50px auto;
    align-items: center;
    gap: 30px;
  }

  .fa-facebook,
  .fa-twitter-square,
  .fa-instagram-square {
    font-size: 3em;
  }
  .streamer,
  .gh-article {
    max-width: 600px;
  }
  .preorder {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px 15px;
    margin: 50px auto;
    max-width: var(--page-width);
  }
}

@media (min-width: 750px) {
  .featured-games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
    max-width: var(--page-width);
  }
}

@media (min-width: 900px) {
  .logo {
    display: none;
  }
  .signup {
    max-width: var(--page-width);
  }
  .search-bar {
    padding-top: 9px;
  }
  .header-top {
    margin-right: 10px;
  }
  .active {
    text-decoration-thickness: 0.2em;
  }

  .logo_left {
    display: inline;
    grid-template-areas: header-left;
    max-height: 110px;
    margin: 0px 0px 0px 10px;
    max-width: 110px;
  }

  .fa-shopping-basket,
  .fa-user {
    font-size: 2.1em;
  }
  .header-right {
    gap: 20px;
  }
  .streamer,
  .gh-article {
    max-width: var(--page-width);
  }

  header label {
    display: none;
  }

  nav {
    display: inline-block;
  }

  header {
    grid-template-areas: "Header-left header-bottom header-top";
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    min-width: 900px;
    max-width: 1300px;
    margin: 0px auto;
    border-radius: 60px;
  }

  .navigation {
    margin: 5px 0px;
    padding: 10px 0px;
    font-size: 1.3em;
    border: none;
  }

  .cta:hover {
    background-color: #3d1565;
    box-shadow: 5px 3px 5px #3d1565;
    color: var(--white);
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
  }
}

/* small loader */
.loader {
  border: 10px solid #140000;
  border-top: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
