html {
    scroll-behavior: smooth;
}

body {
    background-color: #E2E2E2; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Header & Nav */

header {
    text-align: center;
    display: flex;
    flex-direction: column;
}



.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 65px;
}
.header-right {
    display: flex;
    gap: 50px;
}

.navigation {
    text-align: center;
    padding: 0px 50px;

}

.fa-shopping-basket, .fa-user {
    background-color: white;
    border-radius: 30%;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1.2em;
}

nav {
    background-color: rgb(255, 136, 0);
    border-radius: 50px;
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
}

nav ul {
    padding: 0px 30px;
    margin: 10px auto;
}

.fa-bars {
    font-size: 3em;
}

.nav-right {
    display: flex;
    justify-content: space-evenly;
}

.search-bar{
    padding: 5px 150px 5px 10px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid black;

}


 .logo {
    width: 100%;
    max-height: 60px;
    margin-top: 50px;
} 


nav li {
    display: none;
    padding: 0px 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.active {
    text-decoration: underline;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: black;
    text-decoration-thickness: 3px;
} 


#hamburger-menu:checked ~ nav li {
    display: inline-block;
  }

#hamburger-menu {
    display: none;
} 

.hamburger-label {
    padding: 10px;
    
}

/* Main content */ 


h1, h2 {
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem; 
    }

h3 {
    font-size: 1.2em;
    margin-top: 24px;
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}



.featured-games {
    display: grid;
    grid-template-rows: auto;
    gap: 50px 0px;
    margin: 0px auto;
    max-width: 300px;
}

.featured__product {
    display: grid;
    grid-column: 1fr auto;
    align-items: center;
}

.featured__product img{
    width: 100%;
    /* border: 2px solid black; */
}

.featured__product > * {
    margin: 5px 0;

}

.featured__product p {
    font-size: 2em;

}

.featured-games h1, .preorder h1 {
    grid-column: -1/1;
    text-align: center;
}
.view {
     text-decoration: none;
     background-color: rgb(255, 136, 0);
     color: rgb(0, 0, 0);
     padding: 10px;
     border: 3px solid black;
     border-radius: 15px;
     text-transform: uppercase;
     text-align: center;
     font-size: 1.5em;
     max-width: 220px;
     font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;

 }
  


.featured__product h2 {
    grid-column: 1;
}


.articles {
   display: flex;
flex-direction: column;
width: 100%;
margin: 10px auto;
background-color: #BBBBBB;
align-items: center;
}

.articles > * {
    width: 300px;
}

.articles img {
    width: 100%;
}

.preorder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
    margin: 50px auto;
    max-width: 1000px;
}

.preorder__product img {
    width: 100%;
}

/* Footer */ 
footer {
    background-color:rgb(255, 136, 0);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

} 

footer a {
    text-decoration: none;
    color: black;
    font-size: 1.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

footer ul, .copyright {
    margin: 0;
    padding: 0;
}
footer ul {
    display: flex;

}
footer li {
    display: flex;
    padding: 0px 5px;
    margin: 0px 20px;

}


/* signup page */
/* 
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"]   {
    width: 50%;
    padding: 10x 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: solid 1px #000;
}

.cta {
    text-decoration: none;
    font-family: roboto, verdana;
    background-color: #9BDD6F;
    border: solid 1px #000;
    box-shadow: 2px 2px #9bdd6f38 ;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    
}

.cta:hover {
    background-color: #000;
    color: #9BDD6F;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
} */

@media (min-width:900px) {
    .logo {
        max-height: 120px;
        margin-top: 50px;
    }
    .fa-shopping-basket, .fa-user {
        font-size: 2.1em;
    }
    .articles {
        background-color: #BBBBBB;
        width: 100%;
    } 
    
    .articles {
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }
    
    .articles > * {
        display: flex;
        flex-direction: row;
        max-width: 400px;
        height: 100%;
        padding: 50px;
    }
    
    
    .articles img {
        max-width: 100%;
    }
    
}

/* Tablet */

@media (min-width:800px) {
    .articles {
        display: flex;
        text-align: left;
        justify-content: center;
        flex-direction: row;
    }
    .articles > * {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        height: 100%;
        padding: 50px;
    }
    .featured-games {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px 30px;
        margin: 50px auto;
        max-width: 800px;
       
    }

    
}

/* Mobile */

@media (min-width:600px) {
    header label {
        display: none;
        font-size: 1.5em;
    }
    nav {
    display: inline-block;
    padding: 0px 5px;
    }
    nav li {
        display: inline-block;
    }
    header {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    
    
    .header-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-height: 65px;
    }
    .header-right {
        display: flex;
        gap: 50px;
    }
    
    .navigation {
        text-align: center;
        padding: 0px 50px;
    
    }
    
    .fa-shopping-basket, .fa-user {
        background-color: white;
        border-radius: 30%;
        border: 1px solid black;
        padding: 5px 10px;
        font-size: 1.2em;
    }
    
    nav {
        background-color: rgb(255, 136, 0);
        border-radius: 50px;
        padding: 0px;
        margin: 0px;
        border: 2px solid black;
    }
    
    nav ul {
        padding: 0px 30px;
        margin: 10px auto;
    }
    
    .fa-bars {
        font-size: 3em;
    }
    
    .nav-right {
        display: flex;
        justify-content: space-evenly;
    }
    
    .search-bar{
        padding: 5px 150px 5px 10px;
        border-radius: 10px;
        margin: 5px;
        border: 1px solid black;
    
    }
    
    
     .logo {
        width: 100%;
        max-height: 60px;
        margin-top: 50px;
    } 
    
    
    /* nav li {
        display: none;
        padding: 0px 20px;
    } */
    
    nav a {
        text-decoration: none;
        color: black;
        font-size: 1.7em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    


}

@media (min-width:350px) {

    


}