:root {
    --color-nelson: #FA801A;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E2E2E2; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    padding: 5px
}

img {
    width: 100%;
}


/* Header & Nav */

.logo_left {
    display: none;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 325px;
    overflow: hidden;
}

header {
    display: grid;
    grid-template-areas: 
    "header-top header-top bars"
    "header-bottom header-bottom header-bottom";
    background-color: var(--color-nelson);
    border-radius: 30px;
}

.header-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

#hamburger-menu {
    grid-area: bars;
}

.header-top {
    grid-area: header-top;
}

.navigation {
    grid-area: header-bottom;
}

.header-right {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.navigation {
    margin: 5px auto;
    padding: 10px 20px;
    font-size: 1.3em;
}

.fa-shopping-basket, .fa-user {
    background-color: white;
    border-radius: 30%;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1.7em;
    color: black;
}

.account_basket {
    padding: 10px;
}

.account_img {
    width: 50px;
    height: 53px;
    margin-top: 3px;
}


nav {
    display: none;
    background-color: var(--color-nelson);
    border-radius: 50px;
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
}

nav ul {
    padding: 0px 10px;
    margin: 10px auto;
}

.fa-bars {
    font-size: 3em;
}

.nav-right {
    display: flex;
    justify-content: space-evenly;
}

.search-bar{
    display: inline-block;
    padding: 10px 40px 5px 10px;
    border-radius: 10px 0px 0px 10px;
    margin: 5px;
    border: 1px solid black;

}

.fa-search {
    font-size: 1.5em;
    background-color: white;
    
}

header button {
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    margin: 0px 0px 0px -11px;
    padding: 5px;
    background-color: white;


}

 .logo {
    max-height: 50px;
    margin-top: 10px;
    width: 70.833px;

} 


nav li {
    display: inline-block;
    padding: 5px 17px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.active {
    text-decoration: underline;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: black;
    text-decoration-thickness: 3px;
} 

#hamburger-menu {
    display: none;

}   

header label {
    margin-top: 8px;
}

.hamburger-label {
    padding: 20px;
    margin-top: 8px; 
}

#hamburger-menu:checked ~ nav {
    display: inline-block;

}

/* Main content */ 


h1 {
    font-family: nelson, roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem; 
    margin: 10px 0px 0px 0px;
    text-align: center;
    }


h2 {
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 30px auto 20px;
}

h3 {
    font-size: 0.7em;
    margin:5px;
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

/* featured games */



 .featured-games{
    display: grid;
    grid-template-rows: auto;
    gap: 30px 0px;
    margin: 0px auto;
    max-width: 300px;
}

.featured__product, .preorder__product {
    display: flex;
    flex-direction: column;
} 


.featured__product h2 {
    grid-column: 1;
} 

.product__info {
    border: 2px solid black;
    background-color: #F5EFEF;
    border-radius: 0px 0px 5px 5px;
}

.featured__product > * .preorder__product >* {
    margin: 0px;
}

.featured__product p, .preorder__product p{
    font-size: 1.5em;
}

.product__info {
    padding-bottom: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.product__info > *{
    margin: 10px;
    padding: 0px;

}

.featured-games h1, .preorder h1 {
    grid-column: -1/1;
    text-align: center;
}
.view {
     text-decoration: none;
     background-color: var(--color-nelson);
     color: rgb(0, 0, 0);
     padding: 4px;
     border: 1px solid black;
     border-radius: 8px;
     text-transform: uppercase;
     text-align: center;
     font-size: 1em;
     font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
 }
  
.view-small {
    font-size: 0.7em;
}



.articles {
   display: flex;
flex-direction: column;
width: 100%;
margin: 10px auto;
background-color: white;
align-items: center;
}

.articles img {
    float: left;
    margin: 15px 10px;
    width: 250px;
}

.articles h2 {
    margin: 12px auto;
}

.articles > * {
    max-width: 300px;
    margin: 20px auto;
}

.articles h1 {
    margin-bottom: 0px;
}







/* Footer */ 
footer {
    background-color:var(--color-nelson);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 60px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

} 

footer a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: inline-block;
}

footer div {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

footer ul, .copyright {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
}
footer ul {
    display: block;


}
footer li {
    padding: 0px 5px;
    margin: 0px 20px;

}

.contact_page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 10px;
    align-items: center;
}
.fa-facebook, .fa-twitter-square, .fa-instagram-square {
    font-size: 2em;
    margin: 0px 10px;

}

.contact_page img {
    max-width: 400px;
    margin: 0px auto;
}


/* signup page */

/* input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"]   {
    width: 50%;
    padding: 10x 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: solid 1px #000;
} */



.signup {
    text-align: left;
    display: flex;
    margin: 5px auto;
    flex-direction: column;
    max-width: 75%;
    padding: 10px;
  
}

.signup > * {
    padding: 6px;
    border-radius: 10px;
    margin: 5px;
   
}

.signup_btn {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.cta {
    text-decoration: none;
    font-family: roboto, verdana;
    background-color:#10fd61;
    border: solid 1px #000;
    box-shadow: 5px 3px 5px;
    color: black;
    border-radius: 10px;
    padding: 5px 50px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 30px auto;
    
}


/* desktop */




.preorder {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
    gap: 20px 15px;
    margin: 50px auto;
    max-width: 950px;
}

.preorder__product {
    margin: 0px auto;

}


/* tablet  */

@media (min-width:600px){
    .logo {
        max-height: 60px;
    }
    .articles h3  {
        font-size: 0.8em;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .articles h2 {
        font-size: 1.2em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .contact_page {
        display: flex;
    max-width:700px;
    margin: 50px auto;
    align-items: center;
    gap: 30px;
    }
 
    
    .fa-facebook, .fa-twitter-square, .fa-instagram-square {
        font-size: 3em;
    
    }
    .streamer, .gh-article {
        max-width: 600px;
    }
    .preorder {
   
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px 15px;
        margin: 50px auto;
        max-width: 950px;
    }



 

}


@media (min-width:800px) {


    .featured-games {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px 30px;
        margin-bottom: 50px;
        max-width: 950px;
       
    }

    
}


@media (min-width:900px) {
    .logo {display: none;}
    .signup{max-width: 900px;}
    .search-bar {padding-top:9px}
    .header-top{margin-right: 10px;}
    .active{text-decoration-thickness: 0.2em;}


    .logo_left {
        display: inline;
        grid-template-areas: header-left;
        max-height: 110px;
        margin: 0px 0px 0px 10px;
        max-width: 110px;
        
    }

    .fa-shopping-basket, .fa-user {
        font-size: 2.1em;
    }
    .header-right{
        gap: 20px;
    }
    .streamer, .gh-article {
        max-width: 900px;
    }


    header label {
        display: none;
    }
    
    nav {
        display: inline-block;
    }

    header {
        grid-template-areas: 
        "Header-left header-bottom header-top";
        gap: 20px;
        justify-content: space-evenly;
        align-items: center;
        min-width: 900px;
        max-width: 1300px;
        margin: 0px auto;
        border-radius: 60px;
    }

    .navigation {
        margin: 5px 0px;
        padding: 10px 0px;
        font-size: 1.3em;
        border: none;
    }
    .cta:hover {
        background-color: #3D1565;
        box-shadow: 5px 3px 5px #3D1565;
        color: white;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: bold;
    } 


}