html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0; 
}

body {
    background-color: #E2E2E2; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Header & Nav */

header, footer {
    background-color:rgb(255, 136, 0);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}



.fa-shopping-basket {
    background-color: white;
    border-radius: 30%;
    border: 1px solid black;
    padding: 5px;
    font-size: 2.1em;
}


.fa-bars {
    font-size: 3em;

}

.nav-right {
    display: flex;
    justify-content: space-evenly;
}

.search-bar {
    padding: 7px 10px;
}

 .logo {
    max-width: 130px;
    max-height: 110px;
    margin-top: 5px; 
} 


nav li {
    display: none;
    padding: 0px 20px;
}

nav a, footer a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    padding: 0px 10px;
}

.active {
    text-decoration: underline;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: black;
    text-decoration-thickness: 3px;
} 


#hamburger-menu:checked ~ nav li {
    display: inline-block;
  }

#hamburger-menu {
    display: none;
} 

.hamburger-label {
    padding: 10px;
    
}

/* Main content */ 


h1, h2 {
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem; 
    }

h3 {
    font-size: 1.2em;
    margin-top: 24px;
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

 .featured-games, .preorder {
     text-align: center;
     margin: 50px;
     max-height: 700px;

 }

 .featured-games h2, view {
     position: relative;
     left: 300px;
     bottom: 80px;
     color: white;
     width: 50%;
     margin: 0;
    
 }



 .preorder h2 {
     position: relative;
     left: 270px;
     bottom: 120px;
     color: white;
     width: 50%;
     margin: 0;

 }

 .view {
     text-decoration: none;
     background-color:rgb(255, 136, 0);
     color: white;
     padding: 10px;
     border: 1px solid black;
     border-radius: 20px;
 }
  
 .product__mark {
     height: 400px;
 }



.articles {
    background-color: #BBBBBB;
    width: 100%;

} 

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.articles img {
    width: 550px;
    border-radius: 20px;
    margin: 30px 0;
}

.articles div {
    padding: 50px;
    max-width: 550px;
}


.preorder div {
    text-align: center;
    margin: 50px;
}

/* Footer */ 

footer {
    background-color:rgb(255, 136, 0);
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

footer ul, .copyright {
    margin: 0;
}
footer ul {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}
footer li {
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 100px;
}


/* signup page */

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"]   {
    width: 50%;
    padding: 10x 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: solid 1px #000;
}

.cta {
    text-decoration: none;
    font-family: roboto, verdana;
    background-color: #9BDD6F;
    border: solid 1px #000;
    box-shadow: 2px 2px #9bdd6f38 ;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    
}

.cta:hover {
    background-color: #000;
    color: #9BDD6F;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}



/* Tablet */

@media (min-width:800px) {
    .articles {
        display: flex;
        justify-items: center;
        text-align: left;
        justify-content: center;
        flex-direction: row;
    }

    
}

/* Mobile */

@media (min-width:600px) {
    header label {
        display: none;
        font-size: 1.5em;
    }
    nav {
    display: inline-block;
    padding: 0px 5px;
    }
    nav li {
        display: inline-block;
    }


}

@media (min-width:400px) {
    .product__mark {
        height: 600px;
    }
   

}