.logo {
    max-width: 240px;
    max-height: 140px;
    background-color: rgb(255, 136, 0);
    margin-left: 0px;
}

.dropdown:hover .dropbtn {
    background-color: rgb(255, 136, 0);
    border-radius: 100%;
    color: black;
}


.padding {
    padding: 10px;
}

nav li, nav button {
   display: inline-block;
   padding-top: 20px;
   padding: 30px;
   margin-left: 50px;

}

nav {
    background-color: black;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: nelson, fantasy;
    font-size: 2.5em;
}

nav li a:hover {
    background-color: rgb(255, 136, 0);
    /* background-size: 10px 10px; */
    border-radius: 100%;
    text-decoration: underline;
    color: black;
}

.active {
    background-color: rgb(255, 136, 0);
    border-radius: 100%;
    padding: 10px;

}

.dropbtn {
    text-decoration: none;
    color: rgb(255, 136, 0);
    font-family: nelson, fantasy;
    font-size: 2.5em;
    background-color: black;
    border: none;
    cursor: pointer;

}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.page:hover {
    text-decoration: underline;
}

.page {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(255, 136, 0);
    border-radius: 30%;
    width: 270px;
    align-content: center;
    
}

.dropbtn:hover {
   border-radius: 100%;
   color: black;
   background-color: rgb(255, 136, 0);

}

.dropdown-content a {
    padding: 10px;
    text-align: center;

}

.inactive {
    color: rgb(255, 136, 0);
}




